@font-face {
    font-family: "suite";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "suite";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "suite";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "suite";
    font-weight: 600;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-SemiBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-SemiBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-SemiBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-SemiBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-SemiBold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "suite";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "suite";
    font-weight: 800;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-ExtraBold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-ExtraBold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-ExtraBold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-ExtraBold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "suite";
    font-weight: 900;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Black.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Black.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Black.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Black.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/suite/suite-Black.ttf") format("truetype");
    font-display: swap;
}
.suite {
    font-family: "suite";
}
.suite300 {
    font-family: "suite";
    font-weight: 300;
}
.suite400 {
    font-family: "suite";
    font-weight: 400;
}
.suite500 {
    font-family: "suite";
    font-weight: 500;
}
.suite600 {
    font-family: "suite";
    font-weight: 600;
}
.suite700 {
    font-family: "suite";
    font-weight: 700;
}
.suite800 {
    font-family: "suite";
    font-weight: 800;
}
.suite900 {
    font-family: "suite";
    font-weight: 900;
}
